/* Contact Page Styles */
html[data-bs-theme="light"] #button {
    background-color: transparent;
    border-color: #333;
    color: #000;
}

html[data-bs-theme="light"] #button:hover {
    background-color: #333;
    color: #f8f9fa;
}

html[data-bs-theme="dark"] #button {
    background-color: transparent;
    border-color: #f8f9fa;
    color: #f8f9fa;
}

html[data-bs-theme="dark"] #button:hover {
    background-color: #f8f9fa;
    color: #000;
}