/* Dynamic island styled navbar */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 0;
}

.main-nav .nav-pills,
.display-nav .nav-pills {
    display: flex;
    justify-content: center;
}

.main-nav .nav-item,
.display-nav .nav-item {
    flex: 0 0 auto;
}

html .nav-pills .nav-link {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.display-nav .nav-item .nav-link {
    padding: 0.5rem 0.8rem;
}

.nav-link#auto-mode.active i {
    color: #67e378;
}

/* Light theme */
html[data-bs-theme="light"] {
    --bs-body-bg: #f6f6f6;
    --bs-body-color: #000;
    --bs-secondary-bg: #dadada;
    --bs-link-color: #000;
    --bs-link-hover-color: #000;
}

html[data-bs-theme="light"] .nav-pills {
    background-color: #fff;
}

html[data-bs-theme="light"] .nav-pills .nav-link:hover {
    transform: scale(1.15);
    background-color: rgba(33, 33, 33, 0.1);
}

html[data-bs-theme="light"] .nav-pills .nav-link.active {
    background-color: rgba(33, 33, 33, 0.8);
}

html[data-bs-theme="light"] .blurred-shape {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(50px);
    animation: float 10s ease-in-out infinite;
}

.nav-link#light-mode.active i {
    color: #f5b942;
}

/* Dark theme */
html[data-bs-theme="dark"] {
    --bs-body-bg: #282c34;
    --bs-body-color: #fff;
    --bs-secondary-bg: #333;
    --bs-link-color: #fff;
    --bs-link-hover-color: #fff;
}

html[data-bs-theme="dark"] .nav-pills {
    background-color: #333;
}

html[data-bs-theme="dark"] .nav-pills .nav-link:focus,
html[data-bs-theme="dark"] .nav-pills .nav-link:active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
}

html[data-bs-theme="dark"] .nav-pills .nav-link:hover {
    transform: scale(1.15);
    background-color: rgba(255, 255, 255, 0.1);
}

html[data-bs-theme="dark"] .nav-pills .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
}

html[data-bs-theme="dark"] .blurred-shape {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(50px);
    animation: float 10s ease-in-out infinite;
}

.nav-link#dark-mode.active i {
    color: #67a1e3;
}

/* Shape and keyframes */
.shape1 {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 15%;
    animation: float 6s ease-in-out infinite;
}

.shape2 {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 70%;
    animation: float 8s ease-in-out infinite;
}

.shape3 {
    width: 150px;
    height: 150px;
    top: 80%;
    left: 20%;
    animation: float 7s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}